<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <nav>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'applications' %}">My Applications</a>
    </nav>
</head>
<body>
    <h1>About Us</h1>
    <p>This is an idea which I came up with recently, in light of my recent job search.<br>
    In a frantic search for a job out of uni, I lost track of my applications.<br> This led to me
thinking of my own solution. Here you can create an account, which holds all your applications.<br>
You can add, edit or delete these applications as you wish.</p>
    
</body>
</html>